html,
body {
  height: 100vw;
  width: 100%;
  margin: 0;
  padding: 0 2em;
  box-sizing: border-box;
  background-color: white;
}

.App {
  font-family: sans-serif;
}

.App h1 {
  text-align: center;
}

.countries {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1em;
}

.country {
  padding: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  justify-content: center;
  gap: 2em;
  min-width: 10em;
  max-width: 30%;
  border-radius: 2em;
  background-color: #e6eff1;
  border: 2px solid lightgrey;
  transition: 0.5s ease;
}

.country:hover {
  border: 2px solid black;
  box-shadow: 0 2px 4px #555;
}

.country-image {
  flex: 1;
}

.country-image img {
  width: 100%;
}

.country-details {
  flex: 1;
}

.country-details h2 {
  margin: 0;
}

.country-details p span:first-child {
  font-weight: bold;
}

select {
  height: auto;
  background-color: white;
  border: 2px solid lightgrey;
  border-radius: 8pt;
  padding: 0.75em;
}

@media screen and (max-width: 768px) {
  .country {
    max-width: 80%;
    margin: auto;
    flex-direction: column;
    justify-content: space-between;
  }
}

.filters {
  margin: 1em 0;
  display: flex;
  flex-direction: row;
  gap: 1em;
  justify-content: center;
}

label select {
  margin-left: 0.5em;
}

@media screen and (max-width: 768px) {
  .filters {
    max-width: 80%;
    margin: auto;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 1em;
  }
}
